
/* Style by ID*/


/* Styling for Logo*/
#sharegoodslogo {
  width:200px;
  height:100px;
}

/* Styling for page header */
#itemHeader {
  text-align:center;
  font-size: 50px;
}

#itemDetails {
  font-size: 20px;
}

#itemDetailsHeader {
  font-size: 30px;
  text-align: center;
  padding-bottom: 5px;
}
#itemImage {
  width:350px;
  height:350px;
}

#userOtherItems {
  width: 400px;
  height: 150px;
  border: 1px solid black;
}

#map {
  height: 90%;
}

#mapCanvas {
  height: 200px;
  width:400px;
}

#itemLocation {
  font-size: 20px;
}

#requestButton {
  vertical-align: bottom;
}


/* Stlye by Class */

/* Classes for extra row padding */
.large-top-buffer {
  margin-top:80px;
}

.medium-top-buffer {
  margin-top: 50px;
}

.small-top-buffer {
  margin-top: 30px;
}
