<!DOCTYPE html>
<html lang = "en">

   <head>
      <% include ../partials/head %>

      <meta charset = "utf-8">
      <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">



      <!-- CSS styling for page -->
      <link rel="stylesheet" href="/css/myrequest.css">
      <script src="/scripts/myrequest.js"> </script>

      <!-- Javascript script for page -->

      <!-- Import Google Maps API  -->

   </head>
   <body>
     <% include ../partials/navigation %>
     <div class="container">
       <table id="RequestInfo">
        <thead>
            <tr>
                <th>Item</th>
                <th>Category</th>
                <th>Description</th>
                <th>Return Date</th>
                <th>Owner's Email</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

  </div>

  </body>
</html>
