<!DOCTYPE html>
<html lang = "en">

   <head>
      <% include ../partials/head %>

      <meta charset = "utf-8">
      <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">
      <link rel="stylesheet" href="../css/post-new-listing.css">
      <!-- Import Jquery API -->
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


      <!-- Latest compiled and minified CSS -->

      <!-- Optional theme -->

      <!-- Latest compiled and minified JavaScript -->

      <!-- CSS styling for page -->

      <script src="../assets/scripts/post-new-listing.js"> </script>

      <!-- Javascript script for page -->

      <!-- Import Google Maps API  -->


   <title>Post Listing Page - ShareGoods</title>


   </head>

   <body>
     <% include ../partials/navigation %>

     <div class="container">

         <div class="col-sm-6 col-sm-offset-3">

             <h1><span class="fa fa-sign-in"></span> Post New Listing</h1>

             <!-- show any messages that come back with authentication -->

             <!-- LOGIN FORM -->

             <form id="add" action='/api/listing' method="post">

                 <div class="form-group">
                     <label>Email</label>
                     <input type="email" class="form-control" name="email" required>
                 </div>

                 <div class="form-group">
                     <label>Phone</label>
                     <input type="text" class="form-control" name="phone" required>
                 </div>

                 <div class="form-group">
                     <label>Item</label>
                     <input type="text" class="form-control" name="item" required>
                 </div>

                 <div class="form-group">
                     <label>Category</label>
                       <select name="category">
                        <option value="Household">Household</option>
                        <option value="Groceries">Groceries</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Health And Beauty">Health And Beauty</option>
                      </select>
                 </div>

                 <div class="form-group">
                     <label>Description</label>
                     <input type="text" class="form-control" name="description" required>
                 </div>

                 <div class="form-group">
                     <label>Return Date</label>
                     <input type="date" class="form-control" name="returnDate" required>
                 </div>

                 <div class="form-group">
                     <label>Location</label>
                     <input type="text" class="form-control" name="location" required>
                 </div>

                 <button type="submit" class="btn btn-warning btn-lg">Post</button>
             </form>

             <hr>
         </div>

     </div>

   </body>

</html>
