<!-- views/product-request.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Request Item</h1>

        <!-- show any messages that come back with authentication -->

        <!-- REQUEST FORM -->

        <form id="request" action='/api/request' method="post">
          <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" required>
          </div>

          <div class="form-group">
              <label>Phone</label>
              <input type="number" class="form-control" name="phone" required>
          </div>

          <div class="form-group">
              <label>Address</label>
              <input type="text" class="form-control" name="address" required>
          </div>

          <div class="form-group">
              <label>Urgency</label>
              <select name="urgency">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
          </div>

          <div class="form-group">
              <label>Price</label>
              <input type="text" class="form-control" name="price" required>
          </div>

          <div class="form-group">
              <label>Pickup Location</label>
              <input type="text" class="form-control" name="pickup_location" required>
          </div>

          <div class="form-group">
              <label>Dropoff Location</label>
              <input type="text" class="form-control" name="dropOff_location" required>
          </div>

          <input type="submit" value="Submit">
        </form>
        <hr>


    </div>

</div>
</body>
</html>
