<!DOCTYPE html>
<html lang = "en">

   <head>
     <%include ../partials/head %>

      <!-- CSS styling for page -->
      <link rel="stylesheet" href="../css/search-item-style.css">

      <!-- Javascript script for page -->
      <script src="../../assets/scripts/search-item-script.js"> </script>

   </head>

   <body>
      <div class="container">

        <!--  Navigation bar -->
        <div class="medium-top-buffer">
          <%include ../partials/navigation %>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p> hey </p>

          </div>

        </div>





   </body>

</html>
