<!DOCTYPE html>
<html lang = "en">

   <head>
     <%include ../partials/head %>

      <!-- CSS styling for page -->
      <link rel="stylesheet" href="/css/search-item-style.css">

      <!-- Javascript script for page -->
      <script src="/scripts/search-script.js"> </script>

   </head>

   <body>
      <div class="container">

        <!--  Navigation bar -->
        <div id="navBar">
          <%include ../partials/navigation %>
        </div>

        <div class="medium-top-buffer">
        </div>

        <div class="row">
          <div class="col-md-12">
            <h1> Item Listings </h1>
          </div>
        </div>


        <div class="row">
          <div class="col-md-2">
            <div id="categories">
              <h2>Categories</h2>
              <ul id="selectable">
                <li class="ui-widget-content">All Items</li>
                <li class="ui-widget-content">Sports</li>
                <li class="ui-widget-content">Parties</li>
                <li class="ui-widget-content">Electronics</li>
                <li class="ui-widget-content">Arts and Crafts</li>
                <li class="ui-widget-content">Children</li>
                <li class="ui-widget-content">Office</li>
                <li class="ui-widget-content">Home</li>
                <li class="ui-widget-content">Other</li>
              </ul>
            </div>
          </div>


          <div class="col-md-10">
            <div id="data">
              <!--Content-->
              <div id ="list" class="list-group">
              </div>
            </div>
          </div>

        </div>
   </body>

</html>
