<!DOCTYPE html>
<html lang = "en">

   <head>
     <%include ../partials/head %>

      <!-- CSS styling for page -->
      <link rel="stylesheet" href="../css/search-item-style.css">

      <!-- Javascript script for page -->
      <script src="../../assets/scripts/search-item-script.js"> </script>

   </head>

   <body>
      <div class="container">

        <!--  Navigation bar -->
        <div id="navBar">
          <%include ../partials/navigation %>
        </div>

        <div class="medium-top-buffer">
        </div>

        <div class="row">
          <div class="col-md-12">
            <h1> Item Listings </h1>
          </div>
        </div>


        <div class="row">
          <div class="col-md-2">
            <div id="categories">
              <h2>Categories</h2>
              <ul id="selectable">
                <li class="ui-widget-content">Item 1</li>
                <li class="ui-widget-content">Item 2</li>
                <li class="ui-widget-content">Item 3</li>
                <li class="ui-widget-content">Item 4</li>
                <li class="ui-widget-content">Item 5</li>
                <li class="ui-widget-content">Item 6</li>
                <li class="ui-widget-content">Item 7</li>
              </ul>
            </div>
          </div>


          <div class="col-md-10">
            <div id="data">
            </div>
          </div>

        </div>





   </body>

</html>
