<!DOCTYPE html>
<html lang = "en">
   <head>

     <% include ../partials/head %>

     <!-- CSS styling for page -->

     <link rel="stylesheet" href="/css/view-item-style.css">

     <!-- Javascript script for page -->
     <script src="/scripts/view-item-script.js"> </script>

     <!-- Import Google Maps API  -->
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEhVniNNOqfh0w3vHJouB8XmUu_z8Y298&callback=initMap" async defer></script>

   </head>
   <body>
      <div class="container">

        <!--  Navigation bar -->
          <!-- <% include ../partials/navigation %> -->

        <!-- Row for page header information -->
        <div class="row" id="row1">

          <div class="col-md-11">
            <h1 id="itemHeader"> </h1>
          </div>

          <div class="col-md-1">
            <button id="requestButton" onclick="redirectRequest()">Request Item</button>
          </div>
        </div>

        <!-- Row for padding -->
        <div class="large-top-buffer">
        </div>


        <!-- Row for page information -->
        <div class="row" id="row2">

          <!-- Item image -->
          <div class="col-md-6">
            <!-- Item image -->
            <div id="itemImage">
              <!-- Dynamically load image here, example image for now -->
              <img id="itemImage" src="https://unsplash.it/200/300/?random">
            </div>


          </div>

          <!-- Item description, dynamically load information -->
          <div class="col-md-6">
            <div id="itemDetails">
              <p id="itemDetailsHeader"> Item Details </p>

            </div>
            <p id="itemLocation"> Location: </p>
            <div id="mapCanvas">
              <div id="map"> </div>
            </div>

          </div>

        </div>

        <div class="row" id="row3">



        </div>

      </div>

   </body>

</html>
