<!DOCTYPE html>
<head>
  <%include ../../partials/head %>
  <!-- CSS styling for page -->
  <link rel="stylesheet" href="../css/index-admin.css">
  <script src="../../../assets/scripts/admin/index-admin.js"></script>
</head>
<body>
  <%include ../../partials/navigation %>
  <div class="container">
    <div class ="row">
    <!--Content-->
    <div id ="content" class="col-md-8">
        <!-- Header Date-->
        <div id="headerType">

        </div>
        <!-- Input Field or Form -->
        <div id = "title">
        </div>
        <!--Content-->
        <div id ="list" class="list-group">
        </div>
    </div>
    <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
  </div>
</div>
</body>
